{
    "Servers": {
        "1": {
            "Name": "LocalDB(${CONTAINER_PREFIX})",
            "Group": "Servers",
            "Host": "db",
            "Port": ${POSTGRES_PORT},
            "Username": "${POSTGRES_USER}",
            "Password": "${POSTGRES_PASSWORD}",
            "MaintenanceDB": "${POSTGRES_DB}"
        }
    }
}