{
    "Servers": {
        "1": {
            "Name": "LocalDB",
            "Group": "Servers",
            "Host": "${POSTGRES_HOST}",
            "Port": ${POSTGRES_PORT},
            "Username": "${POSTGRES_USER}",
            "MaintenanceDB": "${POSTGRES_DB}",
            "SSLMode": "prefer"
        }
    }
}